<mb-nav-drawer-header remove-parent-element [title]="'Ask ABi'" [menu]="'ScannerMenuComponent'"></mb-nav-drawer-header>
<ion-content>
    <div class="top-spacer-div"></div>
    <ion-item>
        <ion-input type="text" focuser placeholder="Search" [(ngModel)]="searchValue" name="searchInput" clearInput (keyup.enter)="getSearchResults()"></ion-input>
        <ion-icon *ngIf="isScannerDevice" name='barcode' is-active="true" (click)="getSearchResults()" item-right></ion-icon>
    </ion-item>
    <ion-item [hidden]="hasOneOrNoneResult()">
        <ion-input type="text" placeholder="Refine" [(ngModel)]="refineSearchValue" name="searchInput2" clearInput (keyup.enter)="getSearchResults()"></ion-input>
        <ion-icon name='search' is-active="true" (click)="getSearchResults()" item-right></ion-icon>
    </ion-item>
    <div padding *ngIf="!isScannerDevice">
        <div *ngIf="isConnected">
            <button ion-button color="primary" block (click)="getSearchResults()" [disabled]="!searchValue">
                <ion-icon name="search"></ion-icon>
            </button>
        </div>

        <div *ngIf="!isConnected">
            <button ion-button color="primary" block (click)="storeBarcode()" [disabled]="!barcodeHelper.barcodeResults">
                <ion-icon name="add"></ion-icon>
            </button>
        </div>
    </div>

    <ion-item *ngIf="item.resultReturned">
        <span>
       <ion-badge color="primary-blue">{{item.resultCount}}</ion-badge>&nbsp;Items found
       (<ion-badge color="primary-blue">{{item.milliseconds}}</ion-badge>&nbsp;milliseconds)
        </span>
    </ion-item>

    <ion-item *ngIf="showHelp">
        <ion-note>
            <ion-grid>
                <ion-row text-wrap>
                    <ion-col>
                        To search the ABi catalog, enter a partial description for a product or scan a product barcode.
                    </ion-col>
                </ion-row>
                <ion-row text-wrap>
                    <ion-col>
                        To scan with a mobile device camera, go to Settings --> Set Enable Scanner to false.
                    </ion-col>
                </ion-row>
                <ion-row text-wrap>
                    <ion-col>
                        To use a handheld scanner, just scan the barcode.
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-note>
    </ion-item>

    <ion-list [virtualScroll]="item.items" approxItemHeight="50px">
        <ion-item *virtualItem="let abiItem" >
            <ion-grid>
                <ion-row text-wrap>
                    <ion-col class="ripple cursor" col-10 (tap)="showDetail(abiItem)" >
                        <div class="longItemDescription">
                            <ion-icon [hidden]="!isPreferredItem(abiItem)" name="star"></ion-icon>
                            {{abiItem.longItemDescription}}
                        </div>

                        <ion-note>
                            <span>{{abiItem.manufacturer}}</span>
                            <span *ngIf="abiItem.ndc">&nbsp;/&nbsp;{{abiItem.ndc}}</span>
                            <span *ngIf="abiItem.manufacturerCatalogNumber">&nbsp;/&nbsp;{{abiItem.manufacturerCatalogNumber}}</span>
                        </ion-note>
                    </ion-col>
                    <ion-col class="button" ion-button color="secondary" text-center col-2 (tap)="goToSiteCatalogRecords(abiItem)">
                        {{abiItem.siteCount}}
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
    </ion-list>
    <ion-fab logicole-element-position id="barcodeScanFab" *ngIf="!isScannerDevice">
        <button id="scanFab" ion-fab (click)="barcodeScan()"><ion-icon name="barcode" >
      </ion-icon></button>
    </ion-fab>
</ion-content>