<mb-header-page remove-parent-element [title]="'Scanner'" [menu]="'ScannerMenuComponent'"></mb-header-page>

<ion-content padding>
    <div class="top-spacer-div"></div>
    <ion-item>
        <ion-input type="text" focuser placeholder="Search" [(ngModel)]="searchValue" name="searchInput" clearInput (keyup.enter)="getSearchResults()"></ion-input>
    </ion-item>
    <ion-item [hidden]="hasOneOrNoneResult()">
        <ion-input type="text" placeholder="Refine" [(ngModel)]="refineSearchValue" name="searchInput2" clearInput (keyup.enter)="getSearchResults()"></ion-input>
        <ion-icon name='search' is-active="true" (click)="getSearchResults()" item-right></ion-icon>
    </ion-item>

    <ion-item *ngIf="item.resultReturned">
        <span>
       <ion-badge color="primary-blue">{{item.resultCount}}</ion-badge> Items found
       (<ion-badge color="primary-blue">{{item.milliseconds}}</ion-badge> milliseconds)
        </span>
    </ion-item>
    <ion-list>
        <ion-item text-wrap class="ripple" *ngFor="let abiItem of item.items" (press)="showDetail(abiItem)">
            <ion-icon [hidden]="!isPreferredItem(abiItem)" name="star"></ion-icon>
            {{abiItem.longItemDescription}}
            <span><ion-badge *ngIf="abiItem.mmcProductIdentifier" color="secondary"   (click)="goToSiteCatalogRecords(abiItem)">{{abiItem.siteCount}}</ion-badge></span>
            <div>
                <span style="color:gray">
                {{abiItem.manufacturer}}
                 {{abiItem.manufacturerCatalogNumber}}                   
                 </span>
            </div>
        </ion-item>
    </ion-list>
</ion-content>