<ion-header>
    <ion-toolbar>
        <ion-title>DML-ES Mobile</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-content>
            <span>Server:</span><span>{{loginModel.serverName}}</span>
        </ion-card-content>
    </ion-card>

    <ion-list>
        <ion-item>
            <ion-input type="text" #input placeholder="User DN" [(ngModel)]="loginModel.username" name="loginInput"
                       id="loginInputField"></ion-input>
        </ion-item>
        <!--<ion-item>
          <ion-input type="password" placeholder="Password">{{user.password}}</ion-input>
        </ion-item>-->
    </ion-list>
    <div padding>
        <button ion-button color="primary" id="loginButton" block (click)="login(loginModel)">Sign In</button>
    </div>

</ion-content>
