<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>Federal Government</string>
	<key>URLs</key>
	<array>
		<dict>
			<key>certAssertions</key>
			<integer>2097154</integer>
			<key>name</key>
			<string>MAX OMB</string>
			<key>URL</key>
			<string>https://piv.max.gov/cas/login</string>
		</dict>
		<dict>
			<key>certAssertions</key>
			<integer>2097154</integer>
			<key>name</key>
			<string>NASA Access Launchpad</string>
			<key>URL</key>
			<string>https://launchpad.nasa.gov</string>
		</dict>
		<dict>
			<key>certAssertions</key>
			<integer>2097154</integer>
			<key>name</key>
			<string>NASA Satern</string>
			<key>URL</key>
			<string>https://satern.nasa.gov/</string>
		</dict>
	</array>
</dict>
</plist>
