<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>U.S. Army</string>
	<key>URLs</key>
	<array>
		<dict>
			<key>certAssertions</key>
			<integer>0</integer>
			<key>name</key>
			<string>www.us.army.mil</string>
			<key>URL</key>
			<string>http://www.us.army.mil</string>
		</dict>
		<dict>
			<key>certAssertions</key>
			<integer>10</integer>
			<key>name</key>
			<string>web.mail.mil</string>
			<key>URL</key>
			<string>https://web.mail.mil</string>
			<key>removeCookies</key>
			<true/>
		</dict>
		<dict>
			<key>certAssertions</key>
			<integer>10</integer>
			<key>name</key>
			<string>Army Reserve OWA (USAR Email Access)</string>
			<key>URL</key>
			<string>https://owa.usar.army.mil</string>
		</dict>
		<dict>
			<key>certAssertions</key>
			<integer>2097154</integer>
			<key>name</key>
			<string>Center for Army Lessons Learned (CALL)</string>
			<key>URL</key>
			<string>http://usacac.army.mil/organizations/mccoe/call</string>
		</dict>
		<dict>
			<key>certAssertions</key>
			<integer>2097154</integer>
			<key>name</key>
			<string>NORAD NORTHCOM CAC Registration Site</string>
			<key>URL</key>
			<string>https://registration.noradnorthcom.mil/</string>
		</dict>
		<dict>
			<key>certAssertions</key>
			<integer>2097154</integer>
			<key>name</key>
			<string>NORAD NORTHCOM External Access Site</string>
			<key>URL</key>
			<string>https://operations.noradnorthcom.mil</string>
		</dict>
		<dict>
			<key>certAssertions</key>
			<integer>2097154</integer>
			<key>name</key>
			<string>U.S. Army Human Resources Command</string>
			<key>URL</key>
			<string>https://www.hrc.army.mil</string>
		</dict>
	</array>
</dict>
</plist>
