<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>U.S. DoD</string>
	<key>URLs</key>
	<array>
		<dict>
			<key>certAssertions</key>
			<integer>2097154</integer>
			<key>name</key>
			<string>Defense Manpower Data Center</string>
			<key>URL</key>
			<string>https://pki.dmdc.osd.mil</string>
		</dict>
		<dict>
			<key>certAssertions</key>
			<integer>2097154</integer>
			<key>name</key>
			<string>Defense Travel Service</string>
			<key>URL</key>
			<string>https://www.defensetravel.osd.mil</string>
			<key>User-Agent</key>
			<string>Mozilla/5.0 (iPad; CPU OS 7_1_2 like Mac OS X) AppleWebKit/537.51.2 (KHTML, like Gecko) Mobile/11D257 PKard/2.1.4</string>
		</dict>
		<dict>
			<key>certAssertions</key>
			<integer>10</integer>
			<key>name</key>
			<string>DOD 411 Directory</string>
			<key>URL</key>
			<string>https://dod411.gds.disa.mil</string>
		</dict>
		<dict>
			<key>certAssertions</key>
			<integer>2097154</integer>
			<key>name</key>
			<string>MyPay</string>
			<key>URL</key>
			<string>https://mypay.dfas.mil/mypay.aspx</string>
		</dict>
		<dict>
			<key>certAssertions</key>
			<integer>2097154</integer>
			<key>name</key>
			<string>Tricare Online</string>
			<key>URL</key>
			<string>https://www.tricareonline.com/preloginHome.do</string>
		</dict>
		<dict>
			<key>certAssertions</key>
			<integer>10</integer>
			<key>name</key>
			<string>Tricare CAC 1</string>
			<key>URL</key>
			<string>https://cac1.tricareonline.com/</string>
		</dict>
		<dict>
			<key>certAssertions</key>
			<integer>10</integer>
			<key>name</key>
			<string>Tricare CAC 3</string>
			<key>URL</key>
			<string>https://cac3.tricareonline.com/</string>
		</dict>
		<dict>
			<key>certAssertions</key>
			<integer>2097154</integer>
			<key>name</key>
			<string>JITC DOD 411</string>
			<key>URL</key>
			<string>https://jitcdod411.gds.nit.disa.mil</string>
		</dict>
	</array>
</dict>
</plist>
