<ion-header>
  <ion-title>DML-ES Mobile</ion-title>     
   <ion-toolbar>
        <ion-navbar>
            <ion-title>Equipment Requests</ion-title>
        </ion-navbar>
    </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <button ion-item *ngFor="let item of equipmentRequestList" (click)="itemTapped(item)">
      <ion-icon name="flask" item-left></ion-icon>
      {{item.requestTitle}}
      <div class="item-note" item-right>
        {{item.organization}}
      </div>
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
</ion-content>
