start-view {
    ion-col {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .log-group {
        display: -webkit-flex;
        -webkit-align-items: baseline;
    }
}
