<ion-list inset>
    <ion-item>
        <ion-label floating>Host</ion-label>
        <ion-input type="text" id="host" name="host" [(ngModel)]="data.host"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label floating>Port</ion-label>
        <ion-input type="text" id="port" name="port" [(ngModel)]="data.port"></ion-input>
    </ion-item>

    <!--<button (click)="connect()" ion-button [disabled]="!isConnected">Connect</button>-->
    <!--<button (click)="disconnect()" ion-button color="danger" [disabled]="isConnected">Disconnect</button>-->

    <button (click)="connect()" ion-button>Connect</button>
    <button (click)="disconnect()" ion-button color="danger">Disconnect</button>

    <button (click)="testPushLocalChanges()" ion-button>Push</button>

    <br /><hr/>
    <button (click)="add(message.value)" ion-button>Add Data</button>
    <ion-textarea #message [ngModel]="data.message" rows="4"></ion-textarea>

    <br />
    <div class="log-group">
        <label>Log Messages</label>
        <button (click)="clearLogMessages()" ion-button clear>Clear</button>
    </div>
    <ion-textarea [ngModel]="data.messages" rows="4" readonly></ion-textarea>

</ion-list>
