<mb-nav-drawer-header remove-parent-element [title]="'Settings'"></mb-nav-drawer-header>

<ion-content>
  <ion-navbar>
    <header>Allowing add here since getting from a file requires a device</header>
    <ion-buttons end ng-if="isMobility == false">
      <button ion-button icon-only (click)="addSetting()">
      <ion-icon name="add" right ></ion-icon>
     </button>
    </ion-buttons>
  </ion-navbar>

  <ion-list>
    <ion-item *ngFor="let item of settings" (press)="itemSelected(item)">

      <ion-label>{{item.settingName}}</ion-label>
      <ion-toggle [hidden]="isHidden(item, 'boolean')" [(ngModel)]="item.setting"></ion-toggle>
      <ion-input [hidden]="isHidden(item, 'number')" type="number" [(ngModel)]="item.setting"></ion-input>
      <ion-input [hidden]="isHidden(item, 'text')" type="text" [(ngModel)]="item.setting"></ion-input>
      <settings-display item-content [setting]="item"></settings-display> 
    </ion-item>
    
  </ion-list>
  
</ion-content>