<!--<ion-grid>
    <ion-row>
        <ion-col width-70>
            <ion-label>
                {{setting.settingName}}</ion-label>
        </ion-col>
        <ion-col width-30>
            <ion-toggle item-content [hidden]="isHidden(setting, 'boolean')" [(ngModel)]="setting.setting"></ion-toggle>
            <ion-input item-content [hidden]="isHidden(setting, 'number')" type="number" [(ngModel)]="setting.setting"></ion-input>
            <ion-input item-content [hidden]="isHidden(setting, 'text')" type="text" [(ngModel)]="setting.setting"></ion-input>
        </ion-col>
    </ion-row>
</ion-grid>-->
<ion-label>{{title}}</ion-label>