<mb-header-page remove-parent-element [title]="'Equipment Records'"></mb-header-page>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let item of equipmentRecordList" (click)="itemTapped(item)">
      <ion-icon name="cog" item-left></ion-icon>
      {{item.itemId}}
      <div class="item-note" item-right>
        {{item.shortItemDesc}}
      </div>
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{item.itemId}}</b>
  </div>
</ion-content>
