<mb-header-page remove-parent-element [title]="'Equipment Records'"></mb-header-page>

<ion-content>
   <ion-item>
        <ion-input focuser type="text" placeholder="search" [(ngModel)]="searchValue" name="searchInput" id="myInputField" clearInput="true"
               (keyup.enter)="test(searchValue)"></ion-input>
    </ion-item>
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemTapped(item)">
            <h2>ECN: ({{item.fields.meECNId}})</h2>
            <p>Item ID: ({{item.fields.itemId}})</p>
            <p>Item: ({{item.fields.itemDesc}})</p>
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
        <!--You navigated here from <b>{{selectedItem.fields.meECNId}}</b>-->
  </div>
</ion-content>
