<mb-header-page remove-parent-element [title]="'Equipment Records'"></mb-header-page>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemTapped(item)">
            <h2>ECN: ({{item.fields.meECNId}})</h2>
            <p>ITEM ID: ({{item.fields.itemId}})</p>
            <p>ITEM: ({{item.fields.itemDesc}})</p>
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
        You navigated here from <b>{{selectedItem.fields.meECNId}}</b>
  </div>
</ion-content>
