<?xml version='1.0' encoding='utf-8'?>
<plugin id="logicole-plugin-cac" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>CACReaderPlugin</name>
    <description>CAC Reader Plugin</description>

    <hook type="before_compile" src="./hooks/ios/addDirs.js" />
    <hook type="before_compile" src="./hooks/ios/copyConfigs.js" />
    <hook type="before_compile" src="./hooks/ios/copyTools.js" />
    <hook type="before_compile" src="./hooks/ios/copyFrameworks.js" />
    <hook type="before_compile" src="./hooks/ios/modifyBuildSettings.js" />

    <!-- anroid -->
    <platform name="android">
        <js-module src="www/android/CacReader.js" name="CacReader">
            <runs/>
            <clobbers target="cordova.plugins.CacReader" />
        </js-module>

        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="CDVCacReader">
                <param name="android-package" value="logicole.plugin.cac.CDVCacReader"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"/>
        <source-file src="src/android/CDVCacReader.java" target-dir="src/logicole/plugin/cac"/>
    </platform>

    <!-- ios -->
    <platform name="ios">
        <js-module src="www/ios/CacReader.js" name="CacReader">
            <runs/>
            <clobbers target="cordova.plugins.CacReader" />
        </js-module>

        <resource-file src="./config/ios/PKardSDK.bundle" target="PKardSDK.bundle" />
        <resource-file src="./config/ios/lockScreen.png" target="lockScreen.png" />
        <resource-file src="./config/ios/certs/trusted_cas.pem" target="trusted_cas.pem" />
        <resource-file src="./config/ios/certs/trusted_certs.pem" target="trusted_certs.pem" />
        <resource-file src="./config/ios/certs/untrusted_cas.pem" target="untrusted_cas.pem" />

        <framework src="CFNetwork.framework" />
        <framework src="SystemConfiguration.framework" />
        <framework src="MessageUI.framework" />
        <framework src="libc++.tbd" />
        <framework src="libstdc++.tbd" />
        <framework src="libz.tbd" />
        <config-file parent="/*" target="config.xml">
            <feature name="CDVCacReader">
                <param name="ios-package" value="CDVCacReader" onload="true"/>
            </feature>
        </config-file>

        <config-file target="*-Info.plist" parent="LSApplicationQueriesSchemes">
            <array>
                <string>pkardsdk</string>
                <string>pkardpin</string>
            </array>
        </config-file>

        <config-file target="*-Info.plist" parent="LockScreenGraphic">
            <string>lockScreen.png</string>
         </config-file>


        <key>LockScreenGraphic</key>
        <string>splash</string>

        <config-file target="*-Info.plist" parent="CFBundleURLTypes">
            <array>
                <dict>
                    <key>CFBundleURLName</key>
                    <string>com.thursby.pkard.sdk</string>
                    <key>CFBundleURLSchemes</key>
                    <array>
                        <string>logicolemobile</string>
                    </array>
                </dict>
            </array>
        </config-file>

        <header-file src="src/ios/CDVCacReader.h"/>
        <source-file src="src/ios/CDVCacReader.m"/>

    </platform>

    <!-- browser -->
    <platform name="browser">
        <js-module src="src/browser/CDVCacReaderProxy.js" name="CacReader">
            <runs/>
            <clobbers target="cordova.plugins.CacReader" />
        </js-module>

        <config-file target="config.xml" parent="/*">
            <feature name="CacReader">
                <param name="browser-package" value="CacReader" />
            </feature>
        </config-file>
    </platform>
</plugin>
