<?xml version='1.0' encoding='utf-8'?>
<plugin id="logicole-plugin-cac" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>CACPlugin</name>
    <js-module name="CACPlugin" src="www/CACPlugin.js">
        <clobbers target="cordova.plugins.CACPlugin"/>
        <clobbers target="window.CACPlugin"/>
    </js-module>

    <hook type="before_compile" src="./hooks/ios/addDirs.js" />
    <hook type="before_compile" src="./hooks/ios/copyConfigs.js" />
    <hook type="before_compile" src="./hooks/ios/copyTools.js" />
    <hook type="before_compile" src="./hooks/ios/copyFrameworks.js" />
    <hook type="before_compile" src="./hooks/ios/modifyBuildSettings.js" />

    <!--<hook type="after_build" src="./hooks/ios/addOtherLinkerFlags.js" />-->

    <!--<hook type="after_platform_add" src="./hooks/ios/addDirs.js" />-->
    <!--<hook type="after_platform_add" src="./hooks/ios/copyConfigs.js" />-->
    <!--<hook type="after_platform_add" src="./hooks/ios/copyConfigs.js" />-->
    <!--<hook type="after_build" src="./hooks/ios/fingerprintForFIPS140.js" />-->
    <!--<hook type="before_compile" src="./hooks/ios/copyFrameworks.js" />-->

    <!-- anroid -->
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="CACPlugin">
                <param name="android-package" value="logicole.plugin.cac.CACPlugin"/>
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"/>
        <source-file src="src/android/CACPlugin.java" target-dir="src/logicole/plugin/cac"/>
    </platform>

    <!-- ios -->
    <platform name="ios">
        <!--<source-file src="./config/ios/fips_premain.c" target="/fips_premain.c" />-->
        <resource-file src="./config/ios/PKardSDK.bundle" target="/PKardSDK.bundle" />
        <resource-file src="./config/ios/certs/trusted_cas.pem" target="/trusted_cas.pem" />
        <resource-file src="./config/ios/certs/trusted_certs.pem" target="/trusted_certs.pem" />
        <resource-file src="./config/ios/certs/untrusted_cas.pem" target="/untrusted_cas.pem" />

        <framework src="CFNetwork.framework" />
        <framework src="SystemConfiguration.framework" />
        <framework src="MessageUI.framework" />
        <framework src="libc++.tbd" />
        <framework src="libstdc++.tbd" />
        <framework src="libz.tbd" />
        <config-file parent="/*" target="config.xml">
            <feature name="CACPlugin">
                <param name="ios-package" value="CACPlugin"/>
            </feature>
        </config-file>

        <config-file target="*-Info.plist" parent="LSApplicationQueriesSchemes">
            <array>
                <string>pkardsdk</string>
                <string>pkardpin</string>
            </array>
        </config-file>

        <config-file target="*-Info.plist" parent="NSAppTransportSecurity">
            <key>NSExceptionDomains</key>
            <dict>
                <key>johns-macbook-pro.local</key>
                <dict>
                    <key>NSIncludesSubdomains</key>
                    <true/>
                    <key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
                    <true/>
                    <key>NSTemporaryExceptionMinimumTLSVersion</key>
                    <string>TLSv1.1</string>
                </dict>
            </dict>
        </config-file>

        <config-file target="*-Info.plist" parent="CFBundleURLTypes">
            <array>
                <dict>
                    <key>CFBundleURLName</key>
                    <string>com.thursby.pkard.sdk</string>
                    <key>CFBundleURLSchemes</key>
                    <array>
                        <string>https://johns-macbook-pro.local/</string>
                    </array>
                </dict>
            </array>
        </config-file>



        <source-file src="src/ios/CACPlugin.m"/>
    </platform>

    <!-- browser -->
    <platform name="browser">
        <config-file target="config.xml" parent="/*">
            <feature name="CACPlugin">
                <param name="browser-package" value="CACPlugin" />
            </feature>
        </config-file>

        <js-module src="src/browser/CACPluginProxy.js" name="CACPluginProxy">
            <runs />
        </js-module>
    </platform>
</plugin>
