<ion-header>
    <!--<ion-title>DML-ES Mobile</ion-title>-->
    <ion-toolbar>
      <ion-title>DML-ES Mobile</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <!--<ion-grid>
        <ion-row wrap >
            <ion-col width-50 *ngFor="let area of areas">
                <button ion-button icon-left (click)="doSomething()" ion-text color="{{area.color}}">
                <ion-icon name="{{area.iconName}}"></ion-icon>
                {{area.name}}
                </button>
            </ion-col>
        </ion-row>
    </ion-grid>-->
      <ion-list>
      <button menuClose ion-item icon-left color="{{area.color}}" *ngFor="let area of areas" (click)="goTo(area)">
        <ion-icon name="{{area.iconName}}"></ion-icon>
         {{area.title}}
      </button>
    </ion-list>

    <ion-fab right bottom>
    <button id="findSomethingButton" ion-fab (click)="showFindItem()"><ion-icon name="search" >
      </ion-icon></button>
  </ion-fab>
</ion-content>
