<ion-menu id="mainMenu" [content]="content" persistent="true">
  <ion-header>
    <ion-toolbar color="logi-cole-blue">
      <ion-title>LogiCole Mobile</ion-title>
      <ion-buttons end>
        <button ion-button menuClose>
        <ion-icon name="close"></ion-icon>
      </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <!--<ion-list *ngIf="isLoggedIn == true">
      <button menuClose ion-item icon-left color="{{area.color}}" *ngFor="let area of loggedInAreas" (click)="goTo(area)">
        <ion-icon name="{{area.iconName}}"></ion-icon>
         {{area.title}}
      </button>
    </ion-list>-->
    <ion-list>
      <button *ngFor="let area of loggedOutAreas" ion-item no-lines menuClose (click)="goTo(area)" color="{{area.color}}">
        <ion-icon item-left name="{{area.iconName}}"></ion-icon>
         <ion-label>{{area.title}}</ion-label>
      </button>
    </ion-list>
  </ion-content>

</ion-menu>


<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>