<ion-content padding>
    <div class="top-spacer-div"></div>
    <ion-item>
        <ion-input type="text" placeholder="Search" [(ngModel)]="searchValue" name="searchInput"></ion-input>
    </ion-item>
    <div padding>
        <div *ngIf="isConnected">
            <button ion-button color="primary" block (click)="getSearchResults(searchValue)" [disabled]="!searchValue">
                <ion-icon name="search"></ion-icon>
            </button>
        </div>

        <div *ngIf="!isConnected">
            <button ion-button color="primary" block (click)="storeBarcode()" [disabled]="!barcodeHelper.barcodeResults">
                <ion-icon name="add"></ion-icon>
            </button>
        </div>

        <!--<button ion-button color="primary" block (click)="barcodeScan()">-->
            <!--<ion-icon name="barcode"></ion-icon>-->
        <!--</button>-->
    </div>
    <ion-fab logicole-element-position id="barcodeScanFab">
        <button id="scanFab" ion-fab (click)="barcodeScan()"><ion-icon name="barcode" >
        </ion-icon></button>
    </ion-fab>
</ion-content>
