<modal-header remove-parent-element [title]="componentTitle" [subHeader]="subHeader" [hasSubHeader]="true"></modal-header>
<ion-content>   
    <ion-list [virtualScroll]="siteCatalogItems">
        <ion-item text-wrap *virtualItem="let siteCatalog">
            <div>
                <span><strong>{{siteCatalog.siteDodaac}}</strong></span><span> {{siteCatalog.siteName}}</span>
            </div>          
            <div><strong>Item:&nbsp;</strong><span> {{siteCatalog.itemId}}</span></div>
            <div><strong>Primary Supplier:&nbsp;</strong><span>{{siteCatalog.primarySupplier}}</span></div>
            <div><strong>Order Cost:&nbsp;</strong><span>{{siteCatalog.orderCost | currency:'USD':true:'1.2-2'}}</span></div>
            <div><strong>Orders:&nbsp;</strong><span>{{siteCatalog.orderCount}}</span></div>
            <div><strong>Price:&nbsp;</strong><span>{{siteCatalog.primarySourcePrice | currency:'USD':true:'1.2-2'}}</span></div>
            <div><strong>Packaging:&nbsp;</strong><span>{{siteCatalog.primarySourcePackCode}}</span>&nbsp;/<span> {{siteCatalog.primarySourcePackQuantity}}</span></div>            
        </ion-item>
    </ion-list>
</ion-content>
<fouo-footer remove-parent-element></fouo-footer>