<modal-header remove-parent-element [title]="'Add Setting'"></modal-header>
<ion-content>
  <form name="createSettingForm" [formGroup]="addSettingForm" (ngSubmit)="saveSetting()">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-input id="settingName" formControlName="nameInput" type="text" [(ngModel)]="model.settingsName" placeholder="Name"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item item-right>
          <ion-label>Select Type</ion-label>
            <ion-select placeholder="Type" [(ngModel)]="model.dataType" formControlName="dataTypeInput">
              <ion-option value="text">Text</ion-option>
              <ion-option value="number">Numeric</ion-option>
              <ion-option value="boolean">Boolean</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-input id="settingValue" formControlName="valueInput" type="text" [(ngModel)]="model.setting" placeholder="Setting Value"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col width-100>
          <button ion-button type="submit" block>Save</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>