<ion-card>
    <ion-card-header>
        Attention
    </ion-card-header>
    <ion-card-content>
        <p>mec...mec...mec...mec...The server encountered the following error:
            <span>{{text}}</span>
        </p>
        <p>mec...whould this be a question?</p>
        <ion-grid>
            <ion-row>
                <ion-col width-50><button ion-button block (click)="cancel()">No</button></ion-col>
                <ion-col width-50><button ion-button block (click)="continue()">Yes</button></ion-col>
            </ion-row>
        </ion-grid>
    </ion-card-content>
</ion-card>
