.growl-dialog {
    opacity: .65;
    color: white;
    background-color: map-get($colors, logi-cole-blue);
    text-align: center;
    font-size: large;
    padding-right: 10px;
    margin-top: 75px;

    border-radius: 10px;
    border: 2px solid #565050;
    border-color: #333333;
    box-shadow: 8px 8px 8px #888888;

    ion-card-header {
        color: map-get($colors, primary);
        color: white;
        -webkit-align-items: center;
        text-align: left;
        font-size: large;
        margin-top: -20px;
    }

    ion-card-content {
        -webkit-align-items: center;
        font-size: large;
    }
}
