warning-dialog {
    .position-vertical-center {
        //workaround: statusbar gets overlapped, center vertically
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}