<modal-header remove-parent-element [title]="'Product Details'"></modal-header>
<ion-content>
  <div *ngIf="selectedItem" class="selection">
      <ion-card>
          <!--img *ngIf="selectedItem.productImages" src="selectedItem.productImages[0]"/->
          <!--img src="assets/images/imageNotAvailable.jpg"/-->
          <ion-card-header><strong>ID:&nbsp;</strong> {{selectedItem.enterpriseProductIdentifier}}</ion-card-header>
          <ion-card-content>
              <ion-row>
                  {{selectedItem.longItemDescription}}
              </ion-row>
              <ion-row>
                  <ion-note>
                      <span>{{selectedItem.manufacturer}}</span>
                      <span *ngIf="selectedItem.manufacturerCatalogNumber">&nbsp;/&nbsp;{{selectedItem.ndc}} {{selectedItem.manufacturerCatalogNumber}}</span>
                  </ion-note>
              </ion-row>
              <ion-row>&nbsp;</ion-row>
              <ion-row><strong>Packaging Description:&nbsp;</strong> {{selectedItem.packagingDescription}}</ion-row>
          </ion-card-content>
      </ion-card>

      <ion-card>
          <ion-card-header>About This Item</ion-card-header>
          <ion-card-content>
              <ion-row><strong>Product:&nbsp;</strong> {{selectedItem.productNoun}}</ion-row>
              <ion-row><strong>Product Type:&nbsp;</strong> {{selectedItem.productType}}</ion-row>
              <ion-row><strong>Product Commodity:&nbsp;</strong> {{selectedItem.unspscCommodity}}</ion-row>
          </ion-card-content>
          <ion-row>
              <ion-col *ngIf="selectedItem.productGroup">
                  <button ion-button color="primary" clear small (click)="getRelatedProducts()">
                      <!--ion-icon name='text'></ion-icon-->
                      Related Products
                  </button>
              </ion-col>
              <ion-col *ngIf="selectedItem.productSubstituteGroup">
                  <button ion-button color="primary" clear small (click)="getEquivalentProducts()">
                      <!--ion-icon name='text'></ion-icon-->
                      Equivalent Products
                  </button>
              </ion-col>
          </ion-row>
      </ion-card>
  </div>
</ion-content>
