<ion-list >
    <ion-item *ngFor="let server of servers" (press)=updateServer(server)>
        <ion-icon [hidden]="showHideSecureProtocol(server, 'https')" item-left name='lock'></ion-icon>
        <ion-icon [hidden]="showHideSecureProtocol(server, 'http')" item-left name='unlock'></ion-icon>
        <ion-label>{{server.serverName}}</ion-label>
        <ion-label item-right>{{server.port}}</ion-label>
        <ion-checkbox item-right [(ngModel)]="server.isDefault" (click)="setDefault(server)"></ion-checkbox>
        <button (click)="deleteServer(server)" ion-button color="danger" clear icon-only item-right>
            <ion-icon name='trash' is-active="true"></ion-icon>
          </button>
    </ion-item>
</ion-list>
