<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Topic</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div [ngSwitch]="page">
        <div *ngSwitchCase="'start'">

            <ion-list inset>
                <ion-item>
                    <ion-label floating>Host</ion-label>
                    <ion-input type="text" id="host" name="host" [(ngModel)]="data.host"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label floating>Port</ion-label>
                    <ion-input type="text" id="port" name="port" [(ngModel)]="data.port"></ion-input>
                </ion-item>

                <br />
                <button (click)="connect()" ion-button>Connect</button>
                <button (click)="disconnect()" ion-button color="danger">Disconnect</button>

                <br /><hr/>
                <button (click)="add(message.value)" ion-button>Add Data</button>
                <ion-textarea #message [(ngModel)]="data.message"></ion-textarea>

            </ion-list>
        </div>

        <div *ngSwitchCase="'store'">
            <store-view></store-view>
        </div>

        <div *ngSwitchCase="'forward'">
            <forward-view></forward-view>
        </div>
    </div>

</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-segment [(ngModel)]="page">
            <ion-segment-button value="start">
                Start
            </ion-segment-button>
            <ion-segment-button value="store">
                Store
                <ion-badge>{{storeDataModel.badgeCount}}</ion-badge>
            </ion-segment-button>
            <ion-segment-button value="forward">
                Forward
                <ion-badge>{{forwardDataModel.getBadgeCount()}}</ion-badge>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-footer>
