<ion-header>
    <ion-navbar>
        <ion-title item-left>Messaging</ion-title>
        <ion-buttons end *ngIf="isMobility">
            <button ion-button color="dark" clear (click)="viewLogs()">Logs</button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div [ngSwitch]="page">
        <div *ngSwitchCase="'start'">
            <start-view></start-view>
        </div>

        <div *ngSwitchCase="'store'">
            <store-view></store-view>
        </div>

        <div *ngSwitchCase="'forward'">
            <forward-view></forward-view>
        </div>
    </div>

</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-segment [(ngModel)]="page">
            <ion-segment-button value="start">
                Start
            </ion-segment-button>
            <ion-segment-button value="store">
                Store
                <ion-badge>{{storeDataModel.badgeCount}}</ion-badge>
            </ion-segment-button>
            <ion-segment-button value="forward">
                Forward
                <ion-badge>{{forwardDataModel.getBadgeCount()}}</ion-badge>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-footer>
