<mb-header-page remove-parent-element [title]="navTitle"></mb-header-page>

<ion-content padding>
    <div class="top-spacer-div"></div>
    <ion-item>
        <ion-input #focusInput type="text" placeholder={{hintText}} [(ngModel)]="searchValue" name="searchInput"
                   (keyup.enter)="saveTheData(searchValue)"></ion-input>
    </ion-item>
    <div padding>
        <button ion-button color="primary" block (click)="saveTheData(searchValue)">
            <ion-icon name="md-search"></ion-icon>
        </button>
        <button ion-button color="primary" block (click)="barcodeScanClick(searchValue)">
            <ion-icon name="md-barcode"></ion-icon>
        </button>
    </div>

</ion-content>
