<mb-header-page remove-parent-element [title]="navTitle"></mb-header-page>

<ion-content padding>
    <div class="top-spacer-div"></div>
    <ion-item>
        <ion-input focuser type="text" placeholder={{hintText}} [(ngModel)]="searchValue" name="searchInput" id="myInputField" clearInput="true"
                   (keyup.enter)="saveTheData(searchValue)"></ion-input>
    </ion-item>
    <ion-item>
        <button ion-button class="ripple" color="primary" block (click)="saveTheData(searchValue)">
            <ion-icon name="search"></ion-icon>
        </button>
        <!--<button ion-button class="ripple" color="primary" block (click)="barcodeScanClick(searchValue)">
            <ion-icon name="barcode"></ion-icon>
        </button>-->
    </ion-item>
     <ion-fab right bottom id="barcodeScanFab">
        <button id="scanFab" ion-fab (click)="barcodeScanClick(searchValue)"><ion-icon name="barcode" >
      </ion-icon></button>
    </ion-fab>

</ion-content>
