<modal-header remove-parent-element [title]="'Order Detail'"></modal-header>
<ion-content>
<ion-card>
  <ion-card-header>
    Order Detail
  </ion-card-header>
  <ion-card-content>
    <ion-card-title>
      {{order.documentNumber}}
    </ion-card-title>
    <ion-item><span>Item Id:</span> {{order.itemId}}
    </ion-item>
    <ion-item><span *ngIf="supplyItem">{{supplyItem.itemDescription}}</span></ion-item>
    <ion-item>
      <span>Order Qty:</span> {{order.orderQuantity}}
    </ion-item>
    <ion-item>
      <span>Requested by:</span> {{order.requestor}}
    </ion-item>
    <ion-item>
      <img alt="image not available" class="item-image" *ngIf="supplyItem" src="{{ supplyItem.imageUrl }}">
    </ion-item>  
  </ion-card-content>
</ion-card>
</ion-content>