security-security {

    .accept-button-container {
    text-align: center;
}

.rounded-corner-div {
    border-radius: 25px;
    border: 2px solid #565050;
    padding: 20px;
    margin: 12px;
    box-shadow: 8px 8px 4px #888888;
   
}
.header-div {
    background: #F3A834;
}

}